<div class="container">
    <h2>Reservaciones de: {{nombreCliente}} </h2>

    <div id="box">
        <div class="textStyle">
            <p>{{nombreRestaurante}}</p>
            <p>{{estado}} - {{ciudad}}</p>
        </div>
        <div class="starRate">
            <nz-rate [ngModel]="3" nzDisabled [nzCount]="4"></nz-rate>
        </div>
    </div>
    <div id="box">
        <div class="textStyle">
            <p>{{nombreRestaurante}}</p>
            <p>{{estado}} - {{ciudad}}</p>
        </div>
        <div class="starRate">
            <nz-rate [ngModel]="3" nzDisabled [nzCount]="4"></nz-rate>
        </div>
    </div>
    <div id="box">
        <div class="textStyle">
            <p>{{nombreRestaurante}}</p>
            <p>{{estado}} - {{ciudad}}</p>
        </div>
        <div class="starRate">
            <nz-rate [ngModel]="3" nzDisabled [nzCount]="4"></nz-rate>
        </div>
    </div>
    <div id="box">
        <div class="textStyle">
            <p>{{nombreRestaurante}}</p>
            <p>{{estado}} - {{ciudad}}</p>
        </div>
        <div class="starRate">
            <nz-rate [ngModel]="3" nzDisabled [nzCount]="4"></nz-rate>
        </div>
    </div>
    <div id="box">
        <div class="textStyle">
            <p>{{nombreRestaurante}}</p>
            <p>{{estado}} - {{ciudad}}</p>
        </div>
        <div class="starRate">
            <nz-rate [ngModel]="3" nzDisabled [nzCount]="4"></nz-rate>
        </div>
    </div>
</div>