.container{
  background-image: url("../../../assets/restaurantHomePage.jpg");    
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  align-content: center;
 
}
.card{
  display: flex;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center !important;
  height: 60%;
}
::ng-deep .vertical-center-modal .ant-modal,nz-pagination {
  top: 0;
}
.icon{
  font-size: 30px;
  color: #013769;;
  padding-bottom: 10px;
}
.container::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}
.container h1 {
  font-size: 60px;
  color: #fff;
  position: relative;
  text-align: center;
}
.container h2 {
  font-size: 40px;
  color: #fff;
  position: relative;
  text-align: center;
  margin-bottom: 45px;
  margin-top: 15px;
}
.container h3 {
  font-size: 25px;
  color: #fff;
  position: relative;
  text-align: left;
}
.container h4 {
  font-size: 15px;
  color: #fff;
  position: relative;
  text-align: left;
}

.container img{
  width: 40px;
  height: 40px;
}
nz-select, nz-option{
  float: left;
  font-size: 25px;
  width:30%;
  height: 50px;
  align-content: center;
}

.ciudades{
  margin-top: 60px;
}

::ng-deep .container #box{
  width:300px;
      height:300px;
      display: flex;
      color:#000;
      margin:1% 1%;
      float: left;
      border-radius:0%;
      -webkit-transition:1500ms;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      align-items: center;
 }

 
.container #box::before{
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #84dbf57a;
  -webkit-transition:1500ms;
  color:#000;
  box-shadow: 0px 2px 2px rgb(255, 255, 255);
} 

::ng-deep .container  #box:hover::before{
  border-radius:100%;
          -webkit-transition:1500ms;
          text-align: center;
          align-content: center;
          align-items: center;
          position: relative;
          background-color: rgba(255,255,255,0);

  }

  ::ng-deep p{
    position: relative;
    color: white;
    margin: 0px;

  }
  ::ng-deep nz-rate .ant-rate{
    position: relative;
    height: 30px;  
  }
  .w-100{
    width: 100% !important;
   }
  .title{
    font-weight: bold !important;
  }
  .text-color{
    color:#000;
    font-size: 20px;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .container .textStyle{
    height: 150px;
    padding-top: 10%;
    background-color:#fff;
    box-shadow: 0px 10px 10px rgba(124, 124, 124, 0.3);
    margin: 30px;
    height: 80%;
    z-index: 2;
    -webkit-transition:1500ms;
  }
  .container .starRate{
    margin-top:50px;  
  }
  .container  #box:hover{
    border-radius:100%;
    -webkit-transition:1500ms;
    background-color: #e9f8ff !important;
    text-align: center;
    position: relative;
    }
    .textStyle:hover{
      border-radius:100%;
      width: 100%;
      margin: 0px;
      background-color: #e9f8ff !important;
      -webkit-transition:1500ms;
      text-align: center;
      position: relative;
      height: 100%;
    }
    .h-100{
      height: 100%;
    }
    .center{
      justify-items: center;
      background-color: #25323887;
      align-items: center;
      align-content: center;
      justify-content: center !important;
      display: flex;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    .paginator{
      height: 30px;
      width: 100px;
      margin: 15px;
      padding-top: 15px;
    }
    ::ng-deep .ngx-pagination{
      font-weight: bold !important;
      color: #fafafa !important;
    }
   ::ng-deep .ngx-pagination .disabled{
      color: #fafafa !important;
      font-weight: bold !important;
    }
    ::ng-deep  .ngx-pagination a, .ngx-pagination button {
      color: #fafafa !important;
     
  }