

.content{
    img{
        height: 100%;
        width: 100%;
    }
    .form{
        .input-styles{
            width: 90%;
            padding: 15px;
            margin: 0px 15px 15px 0px;
        }
        .reservation{
            margin-top:15px;
            padding: 15px;
            width: 90%;
            height: auto;
        }
    }
    .m-15{
        margin: 30px;
    }
}
